:root{
	font-size: 10px;
	--customCursor:url('../img/cursor.png'), auto ;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: 'Paytone One', sans-serif;
	background: #0A0A0A;
	cursor: url('../img/cursor.png'), auto !important;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 1.6rem;
	font-family: 'Paytone One', sans-serif;
	cursor: var(--customCursor);
}

path{
	transition: .2s linear;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: var(--customCursor);
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
}

.subtitle{
	color: #FFBD1D;
	font-size: 4.4rem;
	text-transform: uppercase;
}

.center{
	text-align: center;
}

/* Run string */
.runstring{
	width: 100%;
	background: linear-gradient(to left, rgba(254, 227, 82, 1), rgba(254, 207, 68, 1), rgba(255, 184, 53, 1));
	padding: 1.25rem 0;
	display: flex;
    overflow: hidden;
}

.runstring, .marquee{
	gap: 25px;
}

.marquee{
    font-size: 2.5rem;
	text-transform: uppercase;
	flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
	animation: scrollDesktop 20s infinite linear;
}

@keyframes scrollDesktop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(calc(-100% - 25px));
    }
}

/* Header */
.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1.8rem 0;
	z-index: 100;
}
.header.collapse{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.5rem 0;
	z-index: 100;
}
#navbar.hide{
	transform: translateY(-200px);
}
.header.collapse .header__inner{
	width: 100%;
	border: 1px solid #434343;
	background: linear-gradient(rgba(40, 9, 150, 0.321), rgba(1, 5, 48, 0.482));
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 1.6rem;
	position: relative;
	opacity: 0.89;
	transition: all linear 300ms;
	backdrop-filter:blur(8px);
}
.header .header__inner{
	width: 100%;
	border: none;
	background: transparent;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.8rem 1.6rem;
	position: relative;
	opacity: 0.89;
	transition: all linear 250ms;
}
.header.collapse .header__logo{
	width: 50px;
	display: flex;
}
.header__logo{
	width: 80px;
	display: flex;
}
.logo{
	width: 100%;
}

.header__menu{
	display: flex;
	align-items: center;
	gap: 25px;
}

.header__menu--link, .mobile__menu--link{
	color: #fff;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
}

.header__menu--link:hover, .mobile__menu--link:hover{
	color: #FFBD1D;
}

.header__button{
	transition: all linear 250ms;
	padding: 1.3rem 2.6rem;
  font-weight: 600;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #FFBD1D;
  background: rgb(189, 9, 9);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}
.header.collapse .header__button{
	background:none;
	border-color:white ;
	scale: 0.8;
}

.header__button:hover{
	filter: hue-rotate(23deg);
}

.menu__inner{
	width: 28px;
	display: none;
}

.menu, .menu__inner.active .cross{
	display: flex;
}

.cross, .menu__inner.active .menu{
	display: none;
}

.menu, .cross{
	cursor: var(--customCursor);
}

/* Airdrop */
.airdrop{
	padding: 8rem 0 5rem 0;
}

.airdrop__inner{
	background: #1E1E1E;
	border: 1px solid #FFCC43;
	padding: 4.5rem;
	border-radius: 10px;
	display: flex;
}

.airdrop__wrapper{
	width: 100%;
	max-width: 310px;
	flex-shrink: 0;
	border-right: 2px solid #484848;
	padding-right: 2.4rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.airdrop__text{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	max-width: 180px;
}

.airdrop__text span{
	text-transform: uppercase;
	color: #A41401;
}

.airdrop__img{
	width: 190px;
}

.airdrop__content{
	width: 100%;
	padding-left: 6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.airdrop__subtitle{
	color: #fff;
	font-size: 3.2rem;
	text-transform: uppercase;
}

.airdrop__items{
	width: 100%;
	margin-top: 4.5rem;
	display: flex;
	gap: 20px;
}

.airdrop__item{
	width: calc(100% / 3 - 40px / 3);
	background: #171717;
	border-radius: 10px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
}

.airdrop__item--text{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	max-width: 170px;
}

span{
	font-weight: 600;
}

.gold{
	color: #FFC03A;
}

.airdrop__item--button{
	width: 173px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	background: url("../img/button-bg.svg") center no-repeat;
	background-size: cover;
	padding: 0.8rem 1.6rem;
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	margin-top: auto;
}

.airdrop__item--button svg{
	width: 22px;
}

.airdrop__item--button:hover{
	color: #A41401;
}

.airdrop__item--button:hover svg path{
	fill: #A41401;
}

/* Tokenomics */
.token{
	width: 100%;
	padding: 4rem 0;
	overflow: hidden;
}

.token__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.token__content{
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.token__points--inner{
	width: 100%;
	max-width: 445px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 6rem;
}

.token__points--title--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	flex-wrap: wrap;
}

.token__points--title, .token__points--value{
	font-size: 1.8rem;
	color: #fff;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.token__points--value{
	font-weight: 600;
	color: #EA9D29;
}

.token__points{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 1.5rem;
	gap: 8px;
}

.token__point{
	width: 100%;
	padding: 1rem 2.2rem;
	background: #1E1E1E;
	border: 1px solid #434343;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .3s linear;
}

.token__point:hover, .token__point.active{
	background: #FFB63B;
	border: 1px solid #FFB63B;
}

.token__point:hover .token__num, .token__point:hover .token__name, .token__point:hover .token__percent,
.token__point.active .token__num, .token__point.active .token__name, .token__point.active .token__percent{
	color: #000;
}

.token__point--wrapper{
	display: flex;
	align-items: center;
	gap: 30px;
}

.token__num, .token__name, .token__percent{
	color: #838383;
	font-size: 1.8rem;
	font-family: 'Poppins', sans-serif;
	transition: .3s linear;
}

.token__percent{
	font-weight: 600;
	color: #FFB63B;
}

.chart__inner{
	position: relative;
}

.chart__img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 290px;
}

.chart__info{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chart__info--title{
	color: #fff;
	font-size: 2.2rem;
	text-align: center;
	text-transform: uppercase;
}

.chart__info--value{
	font-size: 2rem;
	color: #FFB63B;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.chart{
	width: 545px;
	height: 545px;
}

.token__name--inner{
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.unit {
	fill: none;
	stroke-width: 6;
	animation-name: render;
	animation-duration: 1.5s;
	transition-property: all; 
	transition-duration: .3s;
	stroke: #171717;
}

@media(any-hover: hover){
	.unit{
		cursor: pointer !important;
	}
}

.unit:hover, .unit.active{
	stroke: #FFB63B;
	stroke-width: 6.5;
}

.unit:nth-child(1) {
	stroke-dasharray: 39.5 100;
}

.unit:nth-child(2) {
	stroke-dasharray: 29.5 100;
	stroke-dashoffset: -40;
}

.unit:nth-child(3) {
	stroke-dasharray: 4.5 100;
	stroke-dashoffset: -70;
}

.unit:nth-child(4) {
	stroke-dasharray: 14.5 100;
	stroke-dashoffset: -75;
}

.unit:nth-child(5) {
	stroke-dasharray: 9.5 100;
	stroke-dashoffset: -90;
}

.token__cock{
	background: #A41401;
	border-radius: 10px;
	padding: 1rem 2rem;
	color: #fff;
	font-size: 2.8rem;
	text-transform: uppercase;
}

/* Main */
.main{
	padding: 18rem 0rem 0rem 0;
	background: url("../img/main-farm.png") center no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.main__img--abs{
	position: absolute;
	bottom: 0;
	right: -200px;
	pointer-events: none;
	width: 520px;
}

.main__inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main__img--inner{
	width: 100%;
	max-width: 580px;
	display: flex;
	pointer-events: none;
}

.main__img{
	width: 100%;
	object-fit: cover;
}

.main__title--inner{
	position: relative;
}

.main__content{
	width: 100%;
	max-width: 590px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 3rem;
}

.main__title{
	font-size: 13.6rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-transform: uppercase;
	line-height: 96.537%;
}

.main__title span{
	color: #FFBD1D;
}

.main__title--text{
	background: #A41401;
	font-size: 3.2rem;
	border-radius: 10px;
	padding: 4px 20px 10px 20px;
	color: #fff;
	display: inline-block;
	transform: rotate(-9deg);
	position: absolute;
	bottom: -20px;
	right: -40px;
}

.main__text{
	font-size: 1.5rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-top: 6rem;
}

.main__form--inner{
	width: 100%;
	max-width: 410px;
	flex-shrink: 0;
	border: 2px solid #FFCC43;
	border-radius: 10px;
	background: #0A0A0A;
	margin: 0 3rem 3rem 0;
	position: relative;
}

.form__title{
	width: 100%;
	padding: 2rem 4rem .5rem 4rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-align: center;
}

.cap__inner{
	width: 100%;
	display: flex;
	align-items: center;
	padding: .8rem 3.5rem;
	justify-content: space-between;
	border-bottom: 1px solid #434343;
	gap: 10px;
}

.cap__item{
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	color: #969191;
}

.cap__item span{
	color: #FFB63B;
}

.form__wrapper{
	width: 100%;
	padding: 2.5rem 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form__button{
	width: 100%;
	max-width: 75%;
	padding: 0.8rem 2.4rem;
	color: #000;
	border-radius: 5px;
	background: #FFB63B;
	border: 2px solid #FFB63B;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 2rem;
}

.form__button:hover{
	color: #fff;
	border: 2px solid #A41401;
	background: #000;
}

.form__value--inner{
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
}

.form__value--inner p{
	flex-shrink: 0;
	text-align: center;
	color: #fff;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.form__value--inner:before, .form__value--inner:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #434343;
}

.form__method--inner{
	width: 100%;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 30px;
}

.form__method{
	display: flex;
	align-items: center;
	gap: 6px;
	border-radius: 10px;
	border: 1px solid #434343;
	padding: 0.8rem 3.5rem;
}

.form__method:hover, .form__method.active{
	border: 1px solid #FFB936;
}

.form__method--icon{
	width: 24px;
}

.form__method--name{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.4rem;
	font-family: 'Poppins', sans-serif;
}

.form__method--usdt{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form__method--usdt--name, .form__method--usdt--subname{
	color: #22B573;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	line-height: 1;
}

.form__method--usdt--subname{
	font-size: 1rem;
}

.form__balance, .form__text{
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	color: #6F6F6F;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	border-bottom: 1px solid #434343;
	margin-top: 2rem;
}

.form__text{
	margin-top: 0.6rem;
	color: #fff;
	border-bottom: none;
}

.form__inputs{
	width: 100%;
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.form__input--inner{
	width: calc(100% / 2 - 20px / 2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.form__input--wrap{
	width: 100%;
	position: relative;
}

.form__input{
	width: 100%;
	padding: 0.8rem 4rem .8rem 1rem;
	background: #2B2A2A;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
}

.form__input::placeholder{
	color: #6F6F6F;
}

.form__input--icon{
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	width: 24px;
}

.form__input--text--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
	flex-wrap: wrap;
}

.form__input--text, .form__input--max{
	color: #6F6F6F;
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

.form__input--max{
	color: #fff;
}
/* Intro Video */
.introvideo{
	width: 100%;
	padding: 4rem 0;
}
.intro__title{
	width: 100%;
	padding: 1.5rem 0rem;
	color: #FFB63B;
	font-weight: 700;
	font-family: "Poppins";
	font-size: 40px;
	text-transform: uppercase;
}
.introvideo__wrapper{
	width: 100%;
	height: 54rem;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items:center;
}

.intro__video{
	width: 80%;
	height: 90%;
	min-height: 120px;
	min-width: 250px;
	border-radius: 5px;
	box-shadow: 0px 0px 30px #684510;
	border: 2px solid #EA9D29;
}
/* Roadmap */
.roadmap{
	padding: 4rem 0;
	overflow: hidden;
}

.roadmap__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.roadmap__slider{
	width: 100%;
	margin-top: 7rem;

}

.roadmap__item{
	display: flex!important;
	flex-direction: column;
	align-items: flex-start;
}

.roadmap__item--circle{
	width: 41px;
	height: 41px;
	border-radius: 50%;
	border: 3px solid #FFBD1D;
	position: relative;
}

.roadmap__item--circle:before{
	content: "";
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background: #FFBD1D;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.roadmap__item--title{
	margin-top: 1.5rem;
	font-size: 2.8rem;
	color: #FFBD1D;
	text-transform: uppercase;
}

.roadmap__item--content{
	width: 100%;
	background: #171717;
	padding: 6rem;
	margin-top: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	min-height: 400px;
}

.roadmap__item--content:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background:linear-gradient(rgba(39, 9, 150, 0.3), rgba(1, 5, 48, 0.3)),
	url("../img/farm.png") center/cover no-repeat,
	url("../img/frame.png") center no-repeat;
	background-size: cover;
	pointer-events: none;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(50px);
}

.roadmap__item--point{
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1111;
}

.roadmap__item--point--img{
	width: 18px;
}

.roadmap__item--point--text{
	color: #fff;
	font-size: 1.4rem;
	font-weight: 700;
	font-family: 'Poppins', sans-serif;
}

.roadmap__item--cock{
	width: 150px;
	position: absolute;
	bottom: 28px;
	right: 15px;
	z-index: 3;
	pointer-events: none;
}

.roadmap__foot{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	pointer-events: none;
}

.roadmap__arrows{
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 3.5rem;
}

.roadmap__arrow{
	width: 55px;
	height: 49px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../img/arrow-bg.svg") center no-repeat;
	background-size: cover;
}

.roadmap__arrow svg{
	width: 12px;
}

.roadmap__arrow:hover svg path{
	fill: #A41401;
}

.swiper-button-disabled{
	opacity: 0.5;
	pointer-events: none;
}

.swiper{
	overflow: visible!important;
}

/* Social */
.social{
	padding: 3.5rem 0rem 0rem 0;
}

.social__inner{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.social__content{
	width: 100%;
	max-width: 520px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #22B573;
}
.glass-effect {
	background: linear-gradient(rgba(39, 9, 150, 0.3), rgba(1, 5, 48, 0.3)),
				url("../img/main-farm.png") center/cover no-repeat;
	border-radius: 10px; /* Optional: Add rounded corners */
	padding: 30px; /* Optional: Add padding to your content */
	backdrop-filter: blur(5px); /* Add the glass blur effect */
  }
  
.social__img--inner{
	display: flex;
	width: 100%;
	max-width: 420px;
}

.social__img{
	width: 100%;
}

.social__text{
	width: 100%;
	margin-top: 3.2rem;
	font-size: 1.8rem;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

.social__items{
	width: 100%;
	display: flex;
	gap: 45px;
	margin-top: 6rem;
	
}

.social__item{
	border: 1px solid rgba(39, 9, 150, 0.3);
	background: linear-gradient(rgba(40, 9, 150, 0.467), rgba(1, 5, 48, 0.482));
	width: 69px;
	height: 69px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social__item a{
	z-index: 1111;
}
.social__item:hover{
	border: 1px solid #A41401;
}

.social__item:hover .social__item--icon path{
	fill: #A41401;
}

.social__item--icon{
	width: 29px;
}

/* Faq */
.faq{
	padding: 9.6rem 0;
}

.faq__inner{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faq__content{
	width: 100%;
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.faq__item{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	transition: .2s linear;
	cursor: var(--customCursor);
	border-radius: 10px;
	padding: 4rem 5rem;
}

.faq__item:hover{
	background: #171717;
}

.faq__item--wrapper{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.faq__item--answer{
	font-size: 1.8rem;
	font-weight: 300;
	color: #B5B5B5;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	max-width: 900px;
	padding-left: 9rem;
	display: none;
}

.faq__item.active .faq__item--answer{
	display: flex;
}

.faq__item--open{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #FFBD1D;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-shrink: 0;
}

.faq__item--open p{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.4rem;
}

.faq__item--question{
	font-size: 2.4rem;
	font-weight: 700;
	color: #fff;
	font-family: 'Poppins', sans-serif;
}

.faq__item--num{
	font-size: 3.2rem;
	color: #fff;
}

.faq__item--title--inner{
	display: flex;
	align-items: center;
	gap: 50px;
}

/* Footer */
.footer{
	padding: 2rem 0;
	border-top: 2px solid #484848;
}

.footer__inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__copy{
	font-size: 1.8rem;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	color: #484848;
	text-align: right;
}

.footer__social{
	display: flex;
	align-items: center;
	gap: 25px;
}

.footer__social--link{
	display: flex;
	width: 28px;
}

.footer__social--link:hover{
	opacity: 0.7;
}

.footer__social--icon{
	width: 100%;
}

.footer__disc{
	font-weight: 300;
	font-size: 1.4rem;
	color: #FFBD1D;
	font-family: 'Poppins', sans-serif;
	width: 100%;
	max-width: 900px;
}

.footer__wrapper{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 20px;
}

/* Mobile menu */
.mobile__menu{
opacity: 0;	width: 100%;
transform: scale(0);
	display: flex;
	position: absolute;
	top: 100%;
	left: 0;
	background: linear-gradient(rgba(40, 9, 150, 0.321), rgba(1, 5, 48, 0.482));
	border: 1px solid #434343;
	flex-direction: column;
	align-items: flex-start;
	padding: 2.5rem 2rem;
	border-radius: 10px;
	max-height: calc(100vh - 85px);
    overflow-y: auto;
}

.mobile__menu, .mobile__menu.active{
	display: flex;
	transform: scale(0);
opacity: 0;	backdrop-filter: blur(9px);
	transition: all linear 250ms;

}

.mobile__menu--link{
	margin-top: 1.5rem;
}

.mobile__menu--link:first-child{
	margin-top: 0;
}

.mobile__menu--social{
	display: flex;
	gap: 20px;
	margin-top: 3.5rem;
}

/* Responsive */
@media(max-width: 1250px){
	.container{
		max-width: 1180px;
	}
}
@media(max-width: 1200px){
	.container{
		max-width: 978px;
	}

	.main__title{
		font-size: 11rem;
	}

	.airdrop__content{
		padding-left: 0;
	}

	.airdrop__wrapper{
		max-width: unset;
		border-right: none;
		flex-shrink: unset;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}

	.faq__item--title--inner{
		gap: 30px;
	}

	.faq__item--answer{
		padding-left: 7rem;
	}

	.faq__item--question{
		font-size: 2rem;
	}

	.faq__item--num{
		font-size: 2.8rem;
	}

	.roadmap__inner{
		position: inherit;
	}

	.roadmap{
		position: relative;
	}

	.roadmap__foot{
		top: 90px;
	}

	.social__img--inner{
		max-width: 300px;
	}

	.social__content{
		max-width: 400px;
	}

	.social__items{
		margin-top: 3rem;
	}

	.social__item{
		width: 45px;
		height: 45px;
	}

	.social__item--icon{
		width: 20px;
	}

	.header__menu{
		gap: 15px;
	}

	.header__menu--link{
		font-size: 1.3rem;
	}

	.marquee{
		font-size: 2rem;
	}

	.runstring{
		padding: 0.6rem 0;
	}

	.main__text{
		margin-top: 4rem;
	}

	.main__title{
		font-size: 8rem;
	}

	.main__title--text{
		font-size: 2rem;
	}

	.airdrop__inner{
		flex-direction: column;
		align-items: center;
	}

	.airdrop__wrapper{
		width: auto;
		padding-right: 0;
	}

	.airdrop__text{
		text-align: center;
	}

	.airdrop__subtitle{
		width: 100%;
		text-align: center;
	}

	.airdrop__items{
		margin-top: 2rem;
	}

	.token__inner{
		flex-direction: column-reverse;
		align-items: center;
	}

	.token__content{
		align-items: center;
	}

	.main__img--abs{
		right: -100px;
		width: 350px;
	}

	.footer__inner{
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.footer__wrapper{
		align-items: center;
	}

	.footer__disc{
		text-align: center;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 460px;
	}

	.header{
		position: relative;
	}

	.faq__item--answer{
		padding-left: 0;
		font-size: 1.6rem;
	}

	.faq__item--num{
		display: none;
	}

	.faq__item{
		padding: 3rem;
	}

	.faq__content{
		margin-top: 3.5rem;
	}

	.subtitle{
		font-size: 3.6rem;
	}

	.faq{
		padding: 5rem 0;
	}

	.roadmap__item--content{
		padding: 5rem 4rem;
	}

	.social__inner{
		flex-direction: column-reverse;
		align-items: center;
	}

	.social__img--inner{
		transform: rotateY(180deg);
	}

	.social__content{
		align-items: center;
	}

	.social__text{
		text-align: center;
		margin-top: 2rem;
	}

	.social__items{
		justify-content: center;
		gap: 20px;
	}

	.header__menu{
		display: none;
	}

	.main__inner{
		flex-direction: column-reverse;
		align-items: center;
	}

	.menu__inner{
		display: flex;
	}

	.header__logo{
		order: 3;
		width: 45px;
	}

	.main__title--inner{
		width: 100%;
	}

	.main__title{
		width: 100%;
		text-align: center;
		align-items: center;
	}

	.main__title--text{
		right: 40px;
	}

	.main{
		padding: 6rem 0rem 0rem 0;
	}

	.main__text{
		text-align: center;
		margin-top: 6rem;
	}

	.main__img--inner{
		max-width: 300px;
	}

	.header .header__inner{
		background:  linear-gradient(rgba(40, 9, 150, 0.321), rgba(1, 5, 48, 0.482));
	}
	.header .header__button{
		transition: all linear 250ms;
    padding: 1.3rem 2.6rem;
    font-weight: 600;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	background: none;
    border-color: white;
    scale: 0.8;
	}
	.mobile__menu.active{
		transform: scale(1);
		opacity: 1;
		transition: all linear 250ms;
		backdrop-filter: blur(8px);
	}

	.airdrop__items{
		flex-direction: column;
		align-items: flex-start;
	}

	.airdrop__item{
		width: 100%;
		align-items: center;
		gap: 20px;
	}

	.airdrop__item--text{
		text-align: center;
	}

	.airdrop__inner{
		padding: 2rem 3rem;
	}

	.main__text{
		padding: 0rem 2rem;
	}

	.main__form--inner{
		margin-right: 0;
	}

	.main__img--abs{
		width: 250px;
		right: -50px;
	}

	.footer__disc{
		font-size: 1.6rem;
	}
}
@media (max-width: 580px) {
	.chart__info--title, .chart__info--value{
		font-size: 1.6rem;
	}

	.chart{
		width: 480px;
		height: 480px;
	}
}
@media(max-width: 480px){
	.container{
		max-width: 100%;
		padding: 0rem 1.5rem;
	}

	.faq__item{
		position: relative;
		padding: 3rem 1.5rem;
	}

	.faq__item--open{
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.faq__item--question, .faq__item--answer{
		text-align: center;
	}

	.faq__item--question{
		font-size: 1.8rem;
	}

	.faq{
		padding: 4rem 0rem 7rem 0;
	}

	.roadmap__item--content{
		min-height: unset;
	}

	.roadmap__item--content{
		padding: 4rem 2rem;
	}

	.roadmap__item--point--text{
		font-size: 1rem;
	}

	.roadmap__item--cock{
		width: 100px;
		bottom: 0;
		right: 0;
	}

	.roadmap__item--content{
		padding: 2.5rem 4rem;
		gap: 10px;
	}

	.roadmap__item--content{
		width: 330px;
		height: 263px;
	}

	.roadmap__slider{
		margin-top: 4rem;
	}

	.roadmap__item--circle{
		width: 26px;
		height: 26px;
	}

	.roadmap__item--circle:before{
		width: 9px;
		height: 9px;
	}

	.roadmap__item--title{
		font-size: 1.8rem;
	}

	.main{
		padding: 2rem 0rem 0rem 0;
	}

	.main__title{
		font-size: 6.7rem;
	}

	.main__img--inner{
		max-width: 220px;
	}

	.airdrop__img{
		position: absolute;
		left: -15px;
		width: 100px;
		top: 90px;
		pointer-events: none;
	}

	.airdrop__inner{
		position: relative;
	}
	
	.airdrop__subtitle{
		display: none;
	}

	.token__cock{
		font-size: 2rem;
	}

	.token__points--inner{
		margin-top: 2rem;
	}
}
@media (max-width: 450px) {
	.form__inputs{
		flex-direction: column;
		align-items: flex-start;
	}

	.form__input--inner{
		width: 100%;
	}
}
@media (max-width: 410px) {
	.chart{
		width: 380px;
		height: 380px;
	}

	.chart__img{
		width: 220px;
	}

	.form__method--inner{
		gap: 10px;
	}

	.form__method{
		padding: 0.8rem 2.4rem;
	}

	.form__value--inner{
		gap: 10px;
	}

	.form__title{
		padding: 3rem 2rem 2rem 2rem;
	}

	.cap__inner{
		flex-direction: column;
	}
}
@media (max-width: 390px) {
	.main__title--text{
		font-size: 1.6rem;
		bottom: -25px;
	}

	.main__text{
		margin-top: 5rem;
		font-size: 1.2rem;
	}

	.header__button{
		padding: 0.8rem 2rem;
	}
}